* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
    height: 98vh;
    width: 100vw;
}

nav {
    height: 98vh;
    width: 20vw;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

section {
    margin-top: 350px;
    border-radius: 10px;
    margin-left: 40px;
}

#foto {
    border: black solid 2px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    padding: 0;
    width: 45%;
    max-width: 100%;
    height: auto;
    margin-top: 300px;
    text-align: center;
}

ul#ul1 {
    list-style: none;
    text-align: center;
}

.lista {
    padding: 10px;
}

hr {
    width: 67%;
}

button {
    border-color: #000e0c;
    color: rgb(5, 5, 5);
    box-shadow: 0 0 40px 40px #e7ece7 inset, 0 0 0 0 #111011;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
    width: 110px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    box-shadow: 0 0 10px 0 #fffffd inset, 0 0 10px 4px #fcfbfa;
}

h1#nome {
    color: rgb(1, 11, 17);
    font-family: 'Roboto', serif;
    text-align: left;
    margin-top: 250px;
    font-size: 3rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgb(1, 11, 17);
    text-align: left;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: rgb(1, 11, 17);
    text-align: left;
}

img.icones2 {
    border-radius: 100px;
    padding: 10px;
    width: 3%;
    max-width: 100%;
    margin-top: 10px;
}

#conhecimentos {
    font-size: 1.5rem;
    margin-top: 350px;
    color: rgb(1, 16, 29);
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
}

#objetivos {
    font-size: 1.5rem;
    margin-top: 350px;
    color: rgb(1, 16, 29);
    font-family: 'Roboto', sans-serif;
}

#email {
    text-decoration: none;
}

ol {
    list-style-type: upper-alpha;
    margin-top: 50px;
    margin-left: 30px;
}

#lista-2 {
    margin-top: 50px;
    margin-left: 30px;
}

.subtitulo {
    color: rgb(9, 118, 219);
}

a {
    text-decoration: none;
}